---
import Layout from "../layouts/Layout.astro";
import Info from "../components/Info.astro";
import Projects from "../components/Projects.astro";

const name = "Diego Rebollo";
const subtitle = "Full Stack Developer";
const linkedin = "https://www.linkedin.com/in/diegorebollo";
const github = "https://github.com/diegorebollo";
const email = "diego@drebollo.com";
---

<Layout title=`${name} | ${subtitle}`>
	<main>
		<Info
			name={name}
			,
			subtitle={subtitle}
			,
			github={github}
			,
			linkedin={linkedin}
			,
			email={email}
		/>
		<Projects />
	</main>
</Layout>

<style>
	main {
		display: flex;
		max-width: 1360px;
	}

	@media screen and (max-width: 1160px) {
    main {
        flex-direction: column;
    }
</style>
