---
import { Linkedin, Github, Mail } from "lucide-astro";

interface Props {
    name: string;
    subtitle: string;
    github: string;
    linkedin: string;
    email: string;
}

const { name, subtitle, github, linkedin, email } = Astro.props;
---

<div class="info">
    <h1 class="elementofijo">{name}</h1>
    <h2 class="elementofijo">{subtitle}</h2>
    <nav class="elementofijo">
        <ul>
            <li>
                <a href={github} target="_blank"><Github /></a>
            </li>
            <li>
                <a href={linkedin} target="_blank"><Linkedin /></a>
            </li>
            <li>
                <a href=`mailto:${email}`><Mail /></a>
            </li>
        </ul>
    </nav>
</div>

<style>
    .info {
        flex: 1;
        border-right: 1px solid rgba(255, 255, 255, 0.158);

        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    h1 {
        font-size: 10rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    h2 {
        font-size: 1.8rem;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        width: 300px;
        text-align: center;
    }

    h2 {
        /* font-size: 1rem; */
        margin-bottom: 10px;
    }

    h2::selection {
        color: white;
        background-color: black;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    @media screen and (max-width: 1160px) {
        .info {
            border-right: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.158);
        }
    }

    @media screen and (max-width: 1160px) {
        ul {
            margin-bottom: 8px;
        }
    }

    @media screen and (max-width: 623px) {
        h1 {
            font-size: 6.5rem;
        }
    }
</style>
